include README.md TESTING.md ROADMAP.md CHANGELOG.md LICENSE NOTICE
recursive-include tests *.py *.bonsai *.md LICENSE
recursive-include examples *.py *.bonsai
global-exclude __pycache__ *.pyc *.html
